<div class="card product-card" *ngIf="item">
  <div class="product-card__top">
    <img src="assets/tarjeta_credito.JPG" class="product-card__icon" alt="tarjeta de crédito" />
    <a href="#" class="product-card__link">Ver Detalle &gt;</a>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ item.accountInformation.productType | nproducts }}</h5>
    <p class="card-text">Nro. {{ item.id | enmascarar }}</p>
    <p class="card-text">
      Próximo pago mínimo:
      <span class="card-amount">{{ item.productAccountBalances.valor_pago_minimo.amount | currency:'COP':'symbol-narrow':'1.2-2' }}</span>
    </p>
    <p class="card-text">
      Pago total:
      <span class="card-amount">{{ item.productAccountBalances.pago_total_pesos.amount | currency:'COP':'symbol-narrow':'1.2-2' }}</span>
    </p>

    <ng-container *ngIf="sinFechaPago; else conFechaPago">
      <p class="card-text">
        Cupo total:
        {{ item.productAccountBalances.cupo_total.amount | currency:'COP':'symbol-narrow':'1.2-2' }}
      </p>
      <p class="card-text">
        Saldo actual:
        {{ item.productAccountBalances.saldo_actual.amount | currency:'COP':'symbol-narrow':'1.2-2' }}
      </p>
      <div class="progress">
        <div class="progress-bar" role="progressbar"
          [style.width.%]="progreso"
          [attr.aria-valuenow]="progreso"
          aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
    </ng-container>
    <ng-template #conFechaPago>
      <p class="card-text">Fecha de pago: {{ item.dueDate | date:'shortDate' }}</p>
      <button type="button" class="btn btn-primary btn-block btn-sm">Pagar</button>
    </ng-template>
  </div>
</div>
