<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="row">
            <div class="col-md-5 mt-3">
                <p class="usuario h6"><b> Buenos Días, Miguel</b></p>
            </div>
            <div class="col-md-2 border-right mt-2">
                <a href="#">
                    <p class="text-center">Perfil
                            <img src="../../../assets/perfil.JPG" class="rounded d-inline" alt="bank" width="30" />
                        </p>
                </a>
            </div>
            <div class="col-md-2 border-right  mt-2">
                <a href="#">
                    <p class="text-center">Alertas
                            <img src="../../../assets/alertas.JPG" class="rounded d-inline" alt="bank" width="30" />
                        </p>
                </a>
            </div>
            <div class="col-md-3  mt-2">
                <a href="#">
                    <p class="text-center">Salida Segura
                            <img src="../../../assets/salida.JPG" class="rounded d-inline" alt="bank" width="30" />
                        </p>
                </a>
            </div>
        </div>
    </div>
</div>