<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="row border-top">
            <div class="col-12 m-3">
                <p class=" h6 text-center">¿No encuentras los que esta buscando?</p>
                <p class="text-center">Seguimos trabajando para tener todos lo que necesitas en esta nueva experiencia.
                    Mientras tanto, puedes buscar lo que no encuenytres en la versión anterior.</p>
                <button type="button" class="btn btn-primary  mx-auto d-block">IR A LA VERSIÓN ANTERIOR</button>

            </div>
        </div>
        <div class="row border-top">
            <div class="col-12  m-3">
                <p class=" h6 text-center">¿Quieres Otro producto?</p>
                <p class=" h6 text-center"><b>Adquierelo aquí</b></p>
            </div>
            <div class="card col-12 col-md-3 col-md-3" style="width: 12rem;">
                <div class="card-body">
                    <img src="../assets/bank.jpg" class="rounded mx-auto d-block" alt="bank" width="70" />
                    <br>
                    <a href="#">
                        <p class="text-center"><b>Cuenta Exprés</b></p>
                    </a>
                </div>
            </div>
            <div class="card col-12 col-md-3 col-md-3" style="width: 12rem;">
                <div class="card-body">
                    <img src="../assets/bank.jpg" class="rounded mx-auto d-block" alt="bank" width="70" />
                    <br>
                    <a href="#">
                        <p class="text-center"><b>Cuenta Protegida</b></p>
                    </a>
                </div>
            </div>
            <div class="card col-12 col-md-3 col-md-3" style="width: 12rem;">
                <div class="card-body">
                    <img src="../assets/bank.jpg" class="rounded mx-auto d-block" alt="bank" width="70" />
                    <br>
                    <a href="#">
                        <p class="text-center"><b>Tarjeta de Crédito</b></p>
                    </a>
                </div>
            </div>
            <div class="card col-12 col-md-3 col-md-3" style="width: 12rem;">
                <div class="card-body">
                    <img src="../assets/bank.jpg" class="rounded mx-auto d-block" alt="bank" width="70" />
                    <br>
                    <a href="#">
                        <p class="text-center"><b>Compra de Cartera</b></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>