<div class="card product-card" *ngIf="item">
  <div class="product-card__top">
    <img src="assets/cuenta_deposito.JPG" class="product-card__icon" alt="cuenta de ahorros" />
    <a href="#" class="product-card__link">Ver Detalle &gt;</a>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ item.accountInformation.productType | nproducts }}</h5>
    <p class="card-text">Nro. {{ item.id }}</p>
    <p class="card-text">
      Saldo disponible:
      <span class="card-amount">{{ item.productAccountBalances.saldo_disponible.amount | currency:'COP':'symbol-narrow':'1.2-2' }}</span>
    </p>
    <p class="card-text" *ngIf="item.dueDate">Fecha: {{ item.dueDate | date:'shortDate' }}</p>
  </div>
</div>
