<nav class="side-menu shadow-sm" aria-label="Menú principal">
  <div class="side-menu__brand">
    <img src="assets/bank.jpg" class="logo" alt="Banco" width="96" height="80" />
  </div>

  <ul class="side-menu__list">
    <li class="side-menu__item is-active">
      <span class="side-menu__label">Tus productos</span>
    </li>
    <li class="side-menu__item">
      <span class="side-menu__label">Tu organizador</span>
      <span class="side-menu__badge">¡Nuevo!</span>
    </li>
    <li class="side-menu__item">
      <span class="side-menu__label">Pagos</span>
    </li>
    <li class="side-menu__item">
      <span class="side-menu__label">Transferencias</span>
    </li>
    <li class="side-menu__item">
      <span class="side-menu__label">Certificados</span>
    </li>
    <li class="side-menu__item">
      <span class="side-menu__label">Seguridad</span>
    </li>
  </ul>
</nav>
