<div class=" shadow p-3 mb-5 bg-white rounded" >
    <div class="row m-2">
        <div class="col-md-12 col-lg-12">
            <img src="../assets/bank.jpg" class="logo rounded rounded mx-auto d-block m-5" alt="bank" width="120"
                height="100">
        </div>
    </div>
    <div class="row m-2">
        <div class="col-md-12 col-lg-12 p-2">
        </div>
    </div>
    <div class="row m-2">
        <div class="col-md-12 col-lg-12 p-2">
            <p class="h6 text-center">TUS PRODUCTOS</p>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-md-12 col-lg-12 p-2">
            <p class="text-center border-top">TU ORGANIZADOR<br>¡Nuevo!</p>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-md-12 col-lg-12 p-2">
            <p class="text-center border-top">PAGOS</p>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-md-12 col-lg-12 p-2" >
            <p class="text-center border-top">TRANSFERENCIAS</p>

        </div>
    </div>
    <div class="row m-2">
        <div class="col-md-12 col-lg-12 p-2" >
            <p class="text-center border-top">CERTIFICADOS</p>

        </div>
    </div>
    <div class="row m-2">
        <div class="col-md-12 col-lg-12 p-2">
            <p class="text-center border-top">SEGURIDAD</p>

        </div>
    </div>
    <div class="row m-2">
        <div class="col-md-12 col-lg-12 p-2">
        </div>
    </div>
</div>